table {
    width: 200px;
    border-collapse: collapse;
    margin: 10px auto;
}

table thead tr {
    color: #ffffff;
    font-weight: bold;
    background: #00bf80;
}
table td {
    border: 1px solid #e8e9eb;
    text-align: center;
}

table tbody tr:nth-child(2n) {
    background: #f4f4f4;

}